@model ErrorManagment.Models.CrmErrorResponse

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div>
    <h4>Error Response</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsError)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsError)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrescriberId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrescriberId)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
