@model IEnumerable<ErrorManagment.Models.CrmErrorResponse>

@{
    ViewBag.Title = "List of Errors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Errors</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrescriberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Resolved)
        </th>

        <th> </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrescriberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resolved)
        </td>

        <td> </td>
            
<td>

            @Html.ActionLink("Details", "Details", new { id=item.Id }) 

          
        </td>
    </tr>
}

</table>
